html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: grey;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #30215c;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.calendar {
  border-radius: 10px;
  background: white !important;
  color: black !important;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: black;
  }
}
